ユーザー詳細

<div style="margin-top: 50px;">


<div class="container">
<div class="row">

<div class="col-xs-3">



<h1>User info</h1>

<!--User image-->

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.png" %>
<!---->

<table class="table">
<tbody><tr></tr>
<tr>
<th>name</th>
<th><%= @user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= @user.introduction %></th>
</tr>
<th>
<%= link_to edit_user_path(@user) do %>
<span class=" btn btn-default glyphicon glyphicon-wrench edit_user_24870"></span>
<% end %>
</th>
</tr>
</tbody>
</table>



<h2>New book</h2>
<%= form_with model: @book, url:'/books', local:true, scope: :book do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>
<br>
<%= f.submit 'Create Book' %>
</br>
<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
</div>

<div class="col-xs-9">
<h1>Users</h1>

<table class="table table-hover table-inverse">
<thead>
<tr>

<th>image</th>
<th>name</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @users.each do |user| %>
<tr>
<td>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.png" %>
</td>
<td>
<%= user.name %>
</td>
<td>
<%= link_to "Show", user_path(user.id) %>
</td>
</tr>

<% end %>
</tbody>
</table>

<% end %>
</div>
</div>
</div>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


